
*{
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
  background-color: hsl(0, 0%, 93%);
}

h1{
  font-size: 2.5rem;
  font-weight: 200;
  text-align: center;
}

.title{
  display: block;
}

.text-bold{
  font-weight: 600;
}

.legend{
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.text-light{
  color: hsl(229, 6%, 66%);
}
.container{
  position: relative;
  width: 1200px;
  height: 550px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.box{
  position: absolute;
  width: 350px;
  height: 250px;
  padding: 0 20px;
  overflow: hidden;
  background-color: hsl(0, 0%, 93%);
  box-shadow: 10px 10px 10px hsl(240 25% 50% / 0.2);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.team-builder{
  right: 0;
  left: 0;
  margin: 0 auto;
  border-top: 5px solid hsl(0, 78%, 62%);
}

.calculator{
  right: 0;
  top: 150px;
  border-top: 5px solid hsl(212, 86%, 64%);
}

.supervisor{
  left: 0;
  top: 150px;
  border-top: 5px solid hsl(180, 62%, 55%);
}

.karma{
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  border-top: 5px solid hsl(34, 97%, 64%);
}

.footer{
  text-align: right;
}